<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>The date is</h1>
        <h2><%= date = Time.new.strftime("%A, %B %d, %Y")%> </h2>
        <p> </p>
    </body>
</html>
